extends layout


block layout-content
    form#formTable
        block form-table
            include tables/form-table
        block booking-pattern-table 
            include tables/booking-pattern-table 
            
    link(rel='stylesheet', href='/stylesheets/bookingPatternStyle.css')

    script.
        function makeVisible() {
            document.getElementById("newStudentRow").style.display = "table-row";
        } 
    
    script.
        function submitBoth(){
            document.getElementById("formTable").submit();
        }


    script.
        functionfillInput(name){
            document.getElementById("newNameInput").value = name;

        }