extends layout


block layout-content
    form#formTable
        block form-table
            include tables/form-table
        block booking-pattern-table 
            include tables/booking-pattern-table 
            



    script.
        function highlightCols(time){
            var elems =  document.getElementsByClassName(time);
            //document.getElementsByClassName(time[0]).style.background = "#FFFFF";
            for(i = 1; i<elems.length; i++){
                //elems[i].style.background = "#2d2e2f"
            }
        }

    script.
        function reverseHighlightCols(time){
            var elems =  document.getElementsByClassName(time);
            //document.getElementsByClassName(time[0]).style.background = "#FFFFF";
            for(i = 0; i<elems.length; i++){
                if(i%2 == 0){
                   // elems[i].style.background = "#151718"
                }
                else{
                    //elems[i].style.background = "#101111"

                }
            }
        }
