
<form></form><tr><td class="col1"><label><div><input type="text" value="" name="name"></div></label></td><td><label><div><input type="checkbox" value="" name="Mm"></div></label></td><td><label><div><input type="checkbox" value="" name="Ma"></div></label></td><td><label><div><input type="checkbox" value="" name="Tm"></div></label></td><td><label><div><input type="checkbox" value="" name="Ta"></div></label></td><td><label><div><input type="checkbox" value="" name="Wm"></div></label></td><td><label><div><input type="checkbox" value="" name="Thm"></div></label></td><td><label><div><input type="checkbox" value="" name="Tha"></div></label></td><td><label><div><input type="checkbox" value="" name="Fm"></div></label></td><td><label><div><input type="checkbox" value="" name="Fa"></div></label></td><td class="submitCell"><button class="submitbtn">Submit</button></td></tr>



input[type="checkbox"]:checked + div + a {
    display: inline-block;
    transform: rotate(-45deg)  translateY(-0.5vh);
  
    height: 1vh;
    width: 3vh;
    border-bottom: 3px solid  var(--dark-back);
    border-left:   3px solid  var(--dark-back);
  }
  