extends layout

block layout-content
  div.View
    h1.Banner Da's Nursery
    div.Message
      div.Title
        h2 The Best in York
      span.Details Access Da's Nursery Portal:
    div.NavButtons
      a(href="/students")
          div.NavButton Students
      a(href="/teachers")
          div.NavButton Teachers
      a(href="/updateStudents")
          div.NavButton Update Students
      a(href="/updateTeachers")
          div.NavButton Update Teachers
      a(href="/updateRooms")
          div.NavButton Update Rooms
      a(href="/bookingPatterns")
          div.NavButton Booking patterns 