block variables
doctype html
html
  block nav  
    include include/nav 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title} | Da's Nursery
  body
    div#root(width="100%")
      block layout-content
      
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/bookingPatternStyle.css')
  link(rel='stylesheet', href='/stylesheets/tableStyle.css')
