block drop-down-student-names
  ul(class = "dropDown")
    each name in nameArray.length ? nameArray : ['No Students']
      li(class = "dropDownElems" ) #{name.Name}
        button(onclick=`fillInput(`+ name.Name +`)`) 
    
  link(rel='stylesheet', href='/stylesheets/updateStudents.css')

