block drop-down-student-names
  div#dropDownDiv
    ul(class = "dropDown")
      each name in nameArray.length ? nameArray : ['No Students']
        li(class = "dropDownElems", onclick=`fillInput(${JSON.stringify(name.Name)})`) #{name.Name}
        
  
  link(rel='stylesheet', href='/stylesheets/updateStudents.css')

