block nav
    div(class = "navBar")
        a(class = "navBtn" href="/") Home
        a(class = "navBtn" href="/students") Students
        a(class = "navBtn" href="/teachers") Teachers
        a(class = "navBtn" href="/bookingPatterns") Booking patterns
        a(class = "navBtn" href="/updateStudents") Update Students
        a(class = "navBtn" href="/addStudents") Add Student
        a(class = "navBtn" href="/updateTeachers") Update Teachers
        a(class = "navBtn" href="/updateRooms") Update Rooms  
        a(class = "navBtn" href="/updatePatterns") Update Patterns  