div.toggleButton{
    background-color: #5bb069;
    display:table;
    width: 100%;
    border: 0px;
}
div.toggleButton span{
    display: table-cell;
    text-align: center;
}

#rm1:checked + .rm1Cell{
    display: table-cell;
}
#rm2:checked + .rm2Cell{
    display: table-cell;
}
#rm3:checked + .rm3Cell{
    display: table-cell;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(117, 230, 162);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  .addStudentBtn{
    display: inline-flex;
    width: 100%;
    border-radius: 0%;
    border: 1px;
    justify-content: center;
    
}
.addStudentBtn:hover{
    background-color: #252923ae;
}