button{
  padding: 0;
  width: 100%;
  height: 3vh;
  border: none;
  background:  var(--colour2);
  color: var(--light);
  position: absolute;
  top: 0;
  left: 0;
}
.addBtn{
 height: 5vh; 
}

button:hover{
  background-color: var(--colour4);
}

.nameHeading{
  background-color: var(--colour5);
  display: inline-block;
}


input[type="text"] {
  padding: 0px 0px;
  width: 100%;
  height: 3vh;
  border-width: 0px;
}
div#cell{
  position: relative;
  height: 100%
}


input[type="checkbox"]  {
  display: none;
}

input[type="checkbox"]:checked + div{
  background-color:   var(--colour4);

}

input[type="checkbox"]:checked + div {
  height: 1.5vh;
  width: 1.5vh;
  background-color: var(--contrast);
  border-radius: 100%;
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

td > label > div > div {
  width: 100%;
  height: 3vh;
  position: absolute;
}




