/*
  TEXT BOX INPUT
*/
input[type="text"] {
  padding: 0px 0px;
  width: 100%;
  height: 3vh;
  border-width: 0px;
}

label#textboxContainer{
  display: flex;
}

/*
  CHECKBOXES TABLE CELLS
*/
input[type="checkbox"]  {
  display: none;
}

input[type="checkbox"]:checked + div{
  background-color:   var(--colour4);

}

input[type="checkbox"]:checked + div {
  height: 1.5vh;
  width: 1.5vh;
  background-color: var(--contrast);
  border-radius: 100%;
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

td > label > div > div {
  width: 100%;
  height: 3vh;
  position: absolute;
}




