:root {
    --colour1: #55808B;
    --colour2: #2d2e2f;
    --colour3: #303638;
    --colour4: #101111;
    --colour5: #151718;

    --contrast: #e195ed;
    --dark: #232323;
    --light: #e6e6e6;


    --cellHeightSmall: 3vh;
    --cellHeightLarge: 4vh;
    --headingHeight: 6vh;

    --cellWidthSmall: 4vh;
    --cellWidthLarge: 8vw;
    --headingWidth: 8vw;
}

body{
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    color: var(--light); 
    
}

div#root {
    background: conic-gradient(at 50% 25%, var(--colour1), var(--colour1), var(--contrast), var(--colour1));
    height: 94vh;
    justify-content: center;
}

/*
    NAV BAR
*/

.navBar{
    overflow: auto;
    background: var(--colour5);
    width: 100%;
    vertical-align: middle;

}

.navBtn{
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Verdana";
    color: var(--light);
    display: table-cell;
    align-items: center;
    justify-content: center;

}

.navBtn:hover{
    background-color: var(--colour4);
}