/* 
    ALL TABLES
*/
:table{
}

table{
    display: table;
    width: 100%;  
    text-align: center;
    font-family: "Verdana"; 
    border-spacing: 0vh 0vh;
    text-size-adjust: none;
    border-collapse: collapse;
    color: var(--light);
    border-radius: 200px;
}

th{
    background:  var(--colour3);
    height: var(--headingHeight);
    width: 8%;
    color: var(--light);
}


tr:nth-child(even){
    background:var(--colour5);

}

tr:nth-child(odd){
    background:var(--colour4);

}

tr:nth-child(even) td:not(.finCol){
    border-right: solid 1px var(--colour4); 

}

tr:nth-child(odd) td:not(.finCol) {
    border-right: solid 1px var(--colour5); 

}

td{
    width: 8%;
    height: var(--cellHeightLarge);
    padding: 0;
    position: relative;

}

td:hover {
    background-color: var(--colour3);
}
td:hover > label > div {
    z-index: 101;    
}
tr:hover{
    background-color: var(--colour2);
}

/*Column*/
div#scrollable td:not(td#btnCell):hover::after{ 
    background-color: var(--colour2);
    opacity: 30%;
    content: '';  
    height: 56vh;    
    left: 0%;
    position: absolute;  
    top: -50vh;
    width: 100%;
    z-index: 5;  
}


/* 
    FORM TABLE
*/
table#formTable tbody:first-child tr:first-child td:first-child{
    border-radius: 6px 0 0 0;
}
table#formTable tbody:first-child tr:first-child td:last-child{
    border-radius: 0 6px 0 0;
}
table#formTable tbody:first-child tr:last-child td:first-child{
    border-radius: 0 0 6px 6px;
}

table#formTable tbody:first-child tr td:last-child{
    border-right: solid 0px var(--colour5);
}

div#toggleButtons{
    border-radius: 6px 6px 6px 6px;

}

td#roomSelect{
    width: 33.33%;
    height: var(--cellHeightSmall);
}

td#toggleSelect{
    width: 50%;
    height: var(--cellHeightSmall);

}

table#formTable tbody tr{
    background: linear-gradient(45deg, var(--colour4), var(--colour5));
}

table#formTable tbody tr td{
    height: var(--cellHeightSmall);
}

/*
    BOOKING PATTERNS TABLE WHOLE
*/
div#bookingPatternsTable{
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--light);
}

.col1{
    text-align: right;
    padding-right: 1vw;
    width: 16%;
    opacity: 100%;
    background: linear-gradient(45deg, var(--colour5), var(--colour4));
    border-left: solid 0px var(--colour5);

}
.finCol{
    position: relative;
    width: 4%;
    left: 0px;
    border-right: solid 0px var(--colour5);

}

div#cell{
    position: relative;
    height: 100%
}

th#sticky .col1 {
    border-right: solid 1px var(--colour5);
    height: 4vh;

}


/*
    HEADINGS AND RATIO VALUES TABLE
*/

div#headingsRatios table thead:first-child tr:first-child th:first-child{
    border-radius: 6px 0 0 0;
}
div#headingsRatios table thead:first-child tr:first-child th:last-child{
    border-radius: 0 6px 0 0;
}

div#headingsRatios{
    max-height: 25vh;
    margin-bottom: 0vh;
    margin: 0;
}

div#toggleButtons{
    padding: 2vh 2vw;

}


/*
    BOOKING PATTERNS SCROLLABLE TABLE
*/


div#scrollable{
    max-height: 56vh;
    overflow: auto;
    margin-top: 0;
    color: var(--light);
    border-radius: 0 0 6px 6px;
}

div#scrollable .col1{
    padding-right: 1vw;
    text-align: right;
    font-size: 15pt;
    font-weight: 200;
}

tr#sticky{
    top: 0px;
    color: var(--light);
    background: var(--colour3);
    position: sticky;
    border-top: 0vh;
    z-index: 10;
}
td#btnCell{
    border-right: solid 0px var(--colour5);

}

.nameHeading{
    background-color: var(--colour5);
    display: inline-block;  
    height: 4vh;
}



tr#newStudentRow{
    display: none;
}





  
